{% extends "outline.html" %}
{% block body %}
<body class="text-center">
    <div class="jumbotron">
        <h1 class="display-4" style="text-align: center;">{{ user.email }}</h1>
    </div>
    <div class="container d-flex justify-content-around flex-wrap">
        <div class="col-md-4">
        <h1 class="display-4">Borrows{{ locked }}</h1>
        {% for borrow in borrows %}
            <div class="row border rounded d-flex justify-content-center">
                <div class="row">
                    {% if borrow['paid_for'] == 1 %}
                        <button class="btn btn-primary" onclick="window.open('{{ url_for("smart_login") }}', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');">
                            Lock/Unlock: {{ borrow['model'] }}<br>
                            {{ borrow['date'].strftime('%B %d, %Y') }}
                        </button>
                    {% else %}
                        {{ borrow['model'] }}<br>
                        {{ borrow['date'].strftime('%B %d, %Y') }}
                    {% endif %}<br>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="col-md-4">
            <h1 class="display-4">Lendings</h1>
        {% for lending in lendings %}
            <div class="row border rounded d-flex justify-content-center">
                <div class="row">
                    {{ lending['model'] }}<br>
                    {{ lending['date'].strftime('%B %d, %Y') }}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</body>
{% endblock body %}