{% extends "outline.html" %}
{% block body %}<br>
<body class="container-fluid text-center" style="width: 100%;">
    <div>
        <h1 class="display-4">Borrow A Car</h1><br>
        <div class="row">
            <div class="col-md-9">
                <form>
                    <div class="form-group">
                        <label for="modelSelectionInput">Car Model</label>
                        <input class="form-control" id="modelSelectionInput" placeholder="Choose One">
                        <small id="emailHelp" class="form-text text-muted">Every car has its own personality to match yours.</small>
                    </div>
                    <div class="form-group">
                        <label for="modelSelectionInput">Set Your Own Deadline</label>
                        <input class="form-control" id="modelSelectionInput" placeholder="Choose One">
                        <small id="emailHelp" class="form-text text-muted">Decide how long you want to lease the car (max. 7 days). Be sure to return it by this time.</small>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <label>You Pay</label>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <div class="row">
                            <div class="col-md-8">
                                Base Fee
                            </div>
                            <div class="col-md-4">
                                <small class="text-muted">$52.00</small>
                            </div>
                        </div>
                    </div>
                    <span class="text-muted"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <div class="row">
                            <div class="col-md-8">
                                Deposit
                            </div>
                            <div class="col-md-4">
                                <small class="text-muted">$52.00</small>
                            </div>
                        </div>
                    </div>
                    <span class="text-muted"></span>
                </li>
        
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <div class="row">
                            <div class="col-md-8">
                                Total (CAD)
                            </div>
                            <div class="col-md-4">
                                <small class="text-muted">$52.00</small>
                            </div>
                        </div>
                    </div>
                    <span class="text-muted"></span>
                </li>
                <button class="btn btn-md btn-primary btn-block" type="submit" style="width: 100%; margin: 0 auto;">Book the car</button>
            </div>
        </div>
    </div>
</body>
{% endblock body %}