{% extends "outline.html" %}
{% block body %}<br>
<body class="container text-center" style="width: 50%;">
        <h1 class="display-4">Book a Smart Car</h1><br>
        <div class="form-group">
            <div class="col-md-5 mb-3">
                <label>Choose Car model</label>
                <select class="custom-select d-block w-100" id="country" required="">
                  <option value="">Choose</option>
                  <option>Tesla S</option>
                </select>
            </div>
            <div class="col-md-5 mb-3">
                 <label>Set duration</label>
                <input type="time" class="form-control" name="time-duration" id="time-duration" placeholder="Rental Duration">
            </div>
        </div>
            <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Base fee</h6>
            <small class="text-muted">Brief description</small>
          </div>
          <span class="text-muted"></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Collateral amount</h6>
            <small class="text-muted">Brief description</small>
          </div>
          <span class="text-muted"></span>
        </li>

        <li class="list-group-item d-flex justify-content-between">
          <span>Total (CAD)</span>
          <strong></strong>
        </li>
      </ul>
            <div class="invalid-feedback">
              Please select a valid car model
            </div>
        <button class="btn btn-md btn-primary btn-block" type="submit" style="width: 20%; margin: 0 auto;">Book the car</button>
</body>
{% endblock body %}