{% extends "outline.html" %}
{% block body %}<br>
<body>
    <div class="container-fluid text-center" style="width: 100%;">
        <div class="jumbotron">
            <h1 class="display-4" style="text-align: center;">
                <img height = "196px" src="https://cdn.discordapp.com/attachments/533378356305985561/536316066394144780/dark_logo_small.png" alt="AutoLease">
            AutoLease</h1>
        </div>
        <img src="https://c1cleantechnicacom-wpengine.netdna-ssl.com/files/2017/08/Tesla-Model-S-fan-15.jpg" height = "225px"/>
        <label>
            Want to experience a Tesla? Have friends to impress?
        </label>
    </div>
    
</body>
{% endblock body %}