{% extends "outline.html" %}
{% block body %}<br>
<body>
    <div class="container-fluid text-center" style="width: 100%;">
        <div class="jumbotron">
            <h1 class="display-4" style="text-align: center;">
                <img width = "196px" src="https://cdn.discordapp.com/attachments/533378356305985561/536439522133671936/light_logo.png" alt="AutoLease">AutoLease<img width = "196px" src="https://cdn.discordapp.com/attachments/533378356305985561/536442501486346240/blank_logo.png" alt="AutoLease">
            </h1>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                <img src="https://gitlab.com/leglesslamb/autolease/raw/master/resources/car.png" width = "85%"/>
                <label>
                    Don't have a car? Can't afford a better car?
                </label>
            </div>
            <div class="col-md-4">
                <img src="https://gitlab.com/leglesslamb/autolease/raw/master/resources/dream.jpg" width = "85%"/>
                <label>
                    Want to experience a car without actually buying it?
                </label>
            </div>
            <div class="col-md-4">
                <img src="https://gitlab.com/leglesslamb/autolease/raw/master/resources/tesla.png" width = "85%"/>
                <label>
                    Well we currently have Teslas available for loan!
                </label>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="row">
            <div class="col-md-4">
                <img src="https://gitlab.com/leglesslamb/autolease/raw/master/resources/light_logo.png" width = "85%"/>
                <label>
                    AutoLease may be the solution for you, whether you want to borrow or lend a car!
                </label>
            </div>
            <div class="col-md-4">
                    <img src="https://gitlab.com/leglesslamb/autolease/raw/master/resources/smartcar.jpg" width = "85%"/>
                    <label>
                        With the power of SmartCar, we provide automated car access.
                    </label>
                </div>
            <div class="col-md-4">
                <img src="https://gitlab.com/leglesslamb/autolease/raw/master/resources/interac.png" width = "85%"/>
                <label>
                    We process payments and requests securely with Interac.
                </label>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="row">
            <div class="col-md-4">
                <img src="https://gitlab.com/leglesslamb/autolease/raw/master/resources/phone.jpg" width = "85%"/>
                <label>
                    Book a car and pay the fees from your phone.
                </label>
            </div>
            <div class="col-md-4">
                <img src="https://gitlab.com/leglesslamb/autolease/raw/master/resources/lock.png" width = "85%"/>
                <label>
                    AutoLease can unlock the car from your phone.
                </label>
            </div>
            <div class="col-md-4">
                <img src="https://gitlab.com/leglesslamb/autolease/raw/master/resources/clock.jpg" width = "85%"/>
                <label>
                    Schedule to borrow the car for as long as a week.
                </label>
            </div>
        </div>
    </div>
</body>
{% endblock body %}