{% extends "outline.html" %}
{% block body %}<br>
<body>
    <div class="container-fluid text-center" style="width: 100%;">
        <div class="jumbotron">
            <h1 class="display-4" style="text-align: center;">
                <img height = "196px" src="https://cdn.discordapp.com/attachments/533378356305985561/536439522133671936/light_logo.png" alt="AutoLease">AutoLease<img height = "196px" src="https://cdn.discordapp.com/attachments/533378356305985561/536442501486346240/blank_logo.png" alt="AutoLease">
            </h1>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <img src="https://c1cleantechnicacom-wpengine.netdna-ssl.com/files/2017/08/Tesla-Model-S-fan-15.jpg" height = "225px"/>
                <label>
                    Want to experience a Tesla? Have friends to impress?
                </label>
            </div>
            <div class="col-md-6">
                <img src="https://www.jacit.co.uk/img/marketing/tesla/tesla-roadster-2019.png" width = "225px"/>
                <label>
                    We can get the keys in your hands with the tap of a phone!
                </label>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</body>
{% endblock body %}